

@{
    ViewBag.Title = "Crossfit";
}

<h2>CrossFit</h2>

<img src="~/images/Cross.jpg"/>

<p>El CrossFit es una técnica de entrenamiento que encadena movimientos<br/>
    de diferentes disciplinas al mismo tiempo, tales como la halterofilia,<br />
    el entrenamiento metabólico o el gimnástico.</p>

