@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Gimnasio Fenix es un centro de entrenamiento de bajo y alto rendimiento.<br/>
    En cada una de nuestras disciplinas contamos con los mejores profesionales<br />
    los cuales brindan una especial atención a cada uno de nuestros clientes<br />
    para su mayor confort y seguridad a la hora de entrenar.
    </p>

<h3>Ubicación</h3>

<div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.9508278769886!2d-58.59319528425371!3d-34.907683481152596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd9af9779b12d%3A0x35a84f2dd4fd92d1!2sLos+Andes+225%2C+B1812FHC+Carlos+Spegazzini%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1503862642581" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
