@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Los Andes 225<br />
    Carlos Spegazzini<br />
    <abbr title="Phone">Tel:</abbr>
    (02274)45 0317<br />
    <abbr title="Phone">Cel:</abbr>
    11 1578642816<br />
</address>

<address>
    <strong>E-Mail:</strong> <a href="fenixgym@gmail.com">fenixgym@gmail.com</a><br />
</address>